{% extends "postman/base_folder.html" %}
{% load i18n %}
{% block pm_folder_title %}{% trans "Received Messages" %}{% endblock %}

    {% block postman_menu %}
        <div class="botborder" >
         <div class="row ptb25 mrl20" id="menu">
            <h1>Buzón de mensajes</h1>
            <dl class="sub-nav" >
             <dd class="active"><a href="{% url 'postman_inbox' %}">{% trans "Recibidos" %}{% if unread_count %} <strong>({{ unread_count }})</strong>{% endif %}</a></dd>
             <dd><a href="{% url 'postman_sent' %}">{% trans "Mensajes enviados" %}</a></dd>
             <dd><a href="{% url 'postman_write' %}">{% trans "Escribe" %}</a></dd>
             <dd><a href="{% url 'postman_archives' %}">{% trans "Archivo" %}</a></dd>
             <dd><a href="{% url 'postman_trash' %}">{% trans "Papelera" %}</a></dd>
            </dl>
        </div>
    </div>
    {% endblock %}
    
{% block pm_undelete_button %}{% endblock %}
{% block pm_recipient_header %}{% endblock %}
{% block pm_date %}{% trans "Received" %}{% endblock %}
{% block pm_recipient_cell %}{% endblock %}
